<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB99wtynNvpsv92TE1JnZ5We41d1XDB3Pc</string>
	<key>GCM_SENDER_ID</key>
	<string>100608328608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lo.cafe.winston.zander</string>
	<key>PROJECT_ID</key>
	<string>winston-reddit</string>
	<key>STORAGE_BUCKET</key>
	<string>winston-reddit.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100608328608:ios:264fd4c2b198e2144adac5</string>
</dict>
</plist>